<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Permanent+Marker&display=swap"
        rel="stylesheet" />
    <title>Blood Donor</title>
</head>

<body class="body">
    <div class="div">
        <h1>Informations About Donor</h1>
        <p>Name: <%= donor.name %></p>
        <p>Phone Number: <%= donor.phone %></p>
        <p>Blood Type: <%= donor.bloodtype %></p>
        <p>Status: <%= donor.status ? "Blood Taken":"No Blood Taken Yet" %></p>
    </div>

    <style>
        .div{ 
            font-size: 22px;
            text-align: center;
        }
    </style>
</body>

</html>