7<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/howTo.css" />
    <title>First Aid</title>
  </head>

  <body class="body">
    <div class="div1">
      <h1 class="main-title">
        <a href="/"> First Aid - How To</a>
      </h1>
      <h2><a href="/videos">Videos</a></h2>
      <h2><a href="/bloodDonation">Blood Donation</a></h2>
      <h2><a href="/volunteering">Volunteer now</a></h2>
    </div>

    <div class="div2">
      <h2>Hotlines in Lebanon</h2>
      <ul>
        <li>Lebanese Red Cross: <b>140</b></li>
        <li>Civil Defense: <b>125</b></li>
        <li>Police: <b>112</b></li>
        <li>Fire Department: <b>175</b></li>
      </ul>
      <div id="covid">
        <h3>Covid in Asia</h3>
      </div>
    </div>

    <div class="div3">
      <div><a href="#CheckPulse">Check Pulse</a></div>
      <div><a href="#CheckBreathing">Check Breathing</a></div>
      <div><a href="#">PLS</a></div>
      <div><a href="#MaintainAirways">Maintain Airways</a></div>
      <div><a href="#AED">AED</a></div>
      <div><a href="#Tourniquet">Tourniquet</a></div>
      <div><a href="#HeimlichManeuver">Heimlich Maneuver</a></div>
    </div>

    <div class="div4">
      <div id="CheckPulse">
        <h3>Check Pulse:</h3>
        <ul>
          <li>Method 1: Radial pulse</li>

          <ol>
            <li>
              Place your pointer and middle fingers on the inside of your
              opposite wrist just below the thumb.
            </li>
            <li>
              Don’t use your thumb to check your pulse, as the artery in your
              thumb can make it harder to count accurately.
            </li>
            <li>
              Once you can feel your pulse, count how many beats you feel in 15
              seconds.
            </li>
            <li>
              Multiply this number by 4 to get your heart rate. For instance, 20
              beats in 15 seconds equals a heart rate of 80 beats per minute
              (bpm).
            </li>
            <img
              class="img1"
              src="./resources/mc7510-image1-taking-pulse-using-radial-artery-72dpi.webp"
              alt=""
            />
          </ol>

          <li>Method 2: Carotid pulse</li>
          <ol>
            <li>
              Place your pointer and middle fingers on the side of your windpipe
              just below the jawbone. You may need to shift your fingers until
              you can easily feel your heart beating.
            </li>
            <li>Repeat steps 3 and 4.</li>
            <img
              class="img2"
              src="./resources/mc7510-image2-taking-pulse-using-carotid-artery-72dpi.webp"
              alt=""
            />
          </ol>
          <li>Method 3: Pedal pulse</li>
          <ol>
            <li>
              Place your index and middle fingers above the highest point of the
              bone that runs along the top of your foot. You may have to move
              your fingers along the bone or slightly to either side to feel the
              pulse.
            </li>
            <li>Repeat steps 3 and 4.</li>
            <img class="img3" src="./resources/images.jfif" alt="" />
          </ol>
          <li>Method 4: Brachial pulse</li>
          <ul>
            <li>
              Turn your arm so it’s slightly bent and your inner arm is facing
              up toward the ceiling.
            </li>
            <li>
              Place your index and middle fingers along the side of your arm
              between the crook of your elbow on the top and the pointy part of
              your elbow bone on the bottom. Then move your fingers an inch up
              your arm. You may have to press quite firmly to feel your pulse.
            </li>
            <li>Repeat steps 3 and 4.</li>
            <img class="img4" src="./resources/brachial.jfif" alt="" />
          </ul>
          <li>
            <a href="./videos#CheckPulse">Click here to watch a video.</a>
          </li>
        </ul>
      </div>

      <div id="CheckBreathing">
        <h3>Check Breathing:</h3>
        <ul>
          <li>Look to see if their chest is rising and falling.</li>
          <li>Listen over their mouth and nose for breathing sounds.</li>
          <li>Feel their breath against your cheek for 10 seconds.</li>
          <li>
            <a href="./videos#CheckBreathing"
              >Click here to watch a video.</a
            >
          </li>
          <img
            class="img5"
            src="./resources/Checking-for-Breathing.jpg"
            alt=""
          />
        </ul>
      </div>
      <div id="PLS">
        <h3>PLS:</h3>
        <ul>
          <li>
            With the person lying on their back, kneel on the floor at their
            side.
          </li>
          <li>
            Extend the arm nearest you at a right angle to their body with their
            palm facing up.
          </li>
          <li>
            Take their other arm and fold it so the back of their hand rests on
            the cheek closest to you, and hold it in place.
          </li>
          <li>
            Use your free hand to bend the person's knee farthest from you to a
            right angle.
          </li>
          <li>
            Carefully roll the person onto their side by pulling on the bent
            knee.
          </li>
          <li>
            Their bent arm should be supporting the head, and their extended arm
            will stop you rolling them too far.
          </li>
          <li>Make sure their bent leg is at a right angle.</li>
          <li><a href="#MaintainAirways">Maintain Airways.</a></li>
          <li>
            <a href="./videos#PLS">Click here to watch a video.</a>
          </li>
          <img
            class="img6"
            src="./resources/first-aid-recovery-position_1.jpg"
            alt=""
          />
        </ul>
      </div>
      <div id="MaintainAirways">
        <h3>Maintain Airways:</h3>
        <ul>
          <li>Head tilt Chin lift</li>
          <ul>
            <li>
              Make sure the patient has no spinal injuries before doing this
              technique.
            </li>
            <li>
              Tilt the patient’s head back by pushing down on the forehead.
            </li>
            <li>
              Using the tips of the index and middle fingers of the second hand
              lift the mandible at the chin, which lifts the tongue from the
              posterior pharynx.
            </li>
            <img
              class="img7"
              src="./resources/Headtiltchinliftmaneuv.jpg"
              alt=""
            />
          </ul>
          <li>Jaw thrust</li>
          <ul>
            <li>
              If the patient has a suspected spinal injury use this technique.
            </li>

            <li>
              Placing the index and middle fingers to physically push the
              posterior aspects of the lower jaw upwards while their thumbs push
              down on the cheek bones to open the mouth.
            </li>

            <li>
              Be gentle yet firm while doing this technique as its painful and
              too much pressure can dislocate the jaw.
            </li>
            <img class="img8" src="./resources/jaw-thrust.jpg" alt="" />
          </ul>
          <li>
            <a href="./videos#MaintainAirways"
              >Click here to watch a video.</a
            >
          </li>
        </ul>
      </div>
      <div id="AED">
        <h3>AED:</h3>
        <ul>
          <li>Turn on the AED and follow the visual and/or audio prompts.</li>
          <li>
            Open the person's shirt and wipe his or her bare chest dry if its
            wet,and remove any metals on the person's body (watch, rings,
            bracelets, phones...)
          </li>
          <li>
            Attach the AED pads (Usually one on the upper right of the chest and
            the other on the lower left chest below the armpit), and plug in the
            connector (if necessary).
          </li>
          <li>
            Make sure no one is, including you, is touching the person. Tell
            everyone to "stand clear".
          </li>
          <li>
            Push the "analyze" button (if necessary) and allow the AED to
            analyze the person's heart rhythm.
          </li>
          <li>
            If the AED recommends that you deliver a shock to the person, make
            sure that no one, including you, is touching the person – and tell
            everyone to "stand clear." Once clear, press the "shock" button.
          </li>
          <li>
            Begin CPR after delivering the shock. Or, if no shock is advised,
            begin CPR.
          </li>
          <li>
            Perform 2 minutes (about 5 cycles) of CPR and continue to follow the
            AED's prompts.
          </li>
          <li>
            <a href="./videos#AED">Click here to watch a video.</a>
          </li>
          <img
            class="img9"
            src="./resources/How-to-use-an-AED-1024x788.png"
            alt=""
          />
        </ul>
      </div>
      <div id="Tourniquet">
        <h3>Tourniquet:</h3>
        <ul>
          <li>
            Before you apply a tourniquet, it is important that you tell the
            injured person that it is going to hurt.
          </li>
          <li>You can apply a tourniquet to bare skin or over clothing.</li>
          <li>
            Place the tourniquet above the injury on the extremity (arm or leg).
            Do not place it on the joints.
          </li>
          <li>
            Pull the “tail" strap of the tourniquet tight and twist the windlass
            until the bleeding stops. Secure the windlass to keep the tourniquet
            tight and in place.
          </li>
          <li>Note the time of when the tourniquet was applied.</li>
          <li>Do not remove the tourniquet.</li>
          <li>
            <a href="./videos#Bleeding">Click here to watch a video.</a>
          </li>
          <img
            class="img10"
            src="./resources/first-aid-stb-applying-tourniquet-08-06-2018-0-large.jpg"
            alt=""
          />
        </ul>
      </div>
      <div id="HeimlichManeuver">
        <h3>Heimlich Maneuver:</h3>
        <ul>
          <li>
            Stand behind the person. Place one foot slightly in front of the
            other for balance. Wrap your arms around the waist. Tip the person
            forward slightly. If a child is choking, kneel down behind the
            child.
          </li>
          <li>
            Make a fist with one hand. Position it slightly above the person's
            navel.
          </li>
          <li>
            Grasp the fist with the other hand. Press hard into the abdomen with
            a quick, upward thrust — as if trying to lift the person up.
          </li>
          <li>
            <a href="./videos#Choking">Click here to watch a video.</a>
          </li>
          <img
            class="img11"
            src="./resources/illustrationshowingawomanchokingamangrabbingheraroundherstomach.jpg"
            alt=""
          />
        </ul>
      </div>
    </div>
    <script src="./scripts/howTo.js"></script>
  </body>
</html>
