<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <title>First Aid</title>
  </head>

  <body class="body">
    <div class="div1">
      <h1 class="main-title">First Aid</h1>
      <h2><a href="./videos">Videos</a></h2>
      <h2><a href="/bloodDonation">Blood Donation</a></h2>
      <h2><a href="/volunteering">Volunteer now</a></h2>
    </div>

    <div class="div2">
      <h2>Hotlines in Lebanon</h2>
      <ul>
        <li>Lebanese Red Cross: <b>140</b></li>
        <li>Civil Defense: <b>125</b></li>
        <li>Police: <b>112</b></li>
        <li>Fire Department: <b>175</b></li>
      </ul>
      <div id="covid">
        <h3>Covid in Asia</h3>
      </div>
    </div>

    <div class="div3">
      <div><a href="#CPR"> CPR</a></div>
      <div><a href="#RB"> Rescue Breathing</a></div>
      <div><a href="#Burns"> Burns</a></div>
      <div><a href="#Bleeding"> Bleeding</a></div>
      <div><a href="#Choking"> Choking</a></div>
      <div><a href="#Stings"> Stings</a></div>
      <div><a href="#Bones"> Broken/Fractured Bone or Sprains</a></div>
    </div>

    <div class="howTo">
      <div id="header"><a href="./howTo">How to:</a></div>
      <div><a href="./howTo#CheckPulse">Check Pulse</a></div>
      <div><a href="./howTo#CheckBreathing">Check Breathing</a></div>
      <div><a href="./howTo#PLS">PLS</a></div>
      <div><a href="./howTo#MaintainAirways">Maintain Airways</a></div>
      <div><a href="./howTo#AED">AED</a></div>
      <div><a href="./howTo#Tourniquet">Tourniquet</a></div>
      <div><a href="./howTo#HeimlichManeuver">Heimlich Maneuver</a></div>
    </div>

    <div class="div4">
      <div id="CPR">
        <h3>CPR</h3>

        <ul>
          <li>
            First <a href="./howTo#CheckPulse">check for pulse</a>. If a
            pulse is present
            <a href="./howTo#CheckBreathing">check if breathing</a>. If not
            go to <a href="#RB">Rescue Breathing</a> section, else
            <a href="./howTo#MaintainAirways">maintain airways</a> and put
            the paitent in <a href="./howTo#PLS">PLS</a> and call health
            services.
          </li>
          <img
            class="img2"
            src="./resources/cpr-step-by-step-visual-guide-illustration.jpg"
          />
          <li>
            If no pulse is present put the patient on a hard surface (floor),
            <a href="./howTo#MaintainAirways">maintain airways</a> and
            start compressions instantly. Tell someone to call health services
            and to get an <a href="./howTo#AED">AED</a> if available.<br />
            <img
              class="img1"
              src="./resources/7661-cpr-hand-position-1296x728-body-1296x1979.jpg"
            />
            <ul>
              <li>
                Place your hands at the center of the chest and push down 1/3 of
                the patients thickness or approximately 6cm.
              </li>
              <li>
                Do 30 compressions at a rate of 100 to 120 compressions per
                minute (you can follow the beat of
                <a
                  href="https://www.youtube.com/watch?v=I_izvAbhExY"
                  target="blank"
                  >Stayin Alive by the Bee Gees</a
                >). Let the chest rise between compressions.
              </li>
              <img
                class="gif1"
                src="./resources/7661-cpr-chest-compressions-animation.gif"
              />
              <li>
                After 30 compressions perform 2 rescue breaths by pinching the
                nose and placing your mouth fully over the patient's mouth, and
                blowing to make their chest rise.
              </li>
            </ul>
          </li>
          <li>
            Repeat the above steps until health services or an
            <a href="./howTo#AED">AED</a> arrives.
          </li>
          <li>
            If an AED is available <a href="./howTo#AED">click here</a> and
            follow the steps to learn how to use it.
          </li>
          <li>
            If you notice obvious signs of life, discontinue CPR and monitor
            breathing for any changes in condition.
          </li>
          <li><a href="./videos#CPR">Click here to watch a video.</a></li>
        </ul>
      </div>

      <div id="RB">
        <h3>Rescue Breathing</h3>
        <ul>
          <li>
            If a person has a <a href="./howTo#CheckPulse">pulse</a> and is
            not <a href="./howTo#CheckBreathing">breathing</a> call
            emergency services immediately and start rescue breathing.
          </li>
          <li><a href="./howTo#MaintainAirways">Maintain Airways.</a></li>
          <li>
            Perform 1 rescue breaths every 5 to 6 seconds by pinching the nose
            and placing your mouth fully over the patient's mouth, and blowing
            for 1 second to make their chest rise.
          </li>
          <li>If the chest doesn't rise maintain airways again.</li>
          <li>Repeat until emergency services arrive.</li>
          <li>
            Note: regularly <a href="./howTo#CheckPulse">check pulse</a> as
            the patient might go into cardiac arrest.
          </li>
          <li><a href="./videos#RB">Click here to watch a video.</a></li>
          <img class="img3" src="./resources/rescue-breaths.jpg" />
        </ul>
      </div>
      <div id="Burns">
        <h3>Burns</h3>
        <ul>
          <li>
            Major Burn (Deep, Larger than 7cm in diameter, patches of black or
            brown, on face, hands, feet, groin, or a major joint):
          </li>
          <ul>
            <li>
              Move the person to a safe place and call emergency services.
            </li>
            <li>
              <a href="./howTo#CheckBreathing"
                >Check if they are breathing.</a
              >
              If not start
              <a href="#RB">Rescue Breathing.</a>
            </li>
            <li>
              Remove restrictive items from their body, such as belts and
              jewelry in or near the burned areas. Burned areas typically swell
              quickly.
            </li>
            <li>
              Cover the burned area with a clean cloth that’s moistened with
              cool, clean water.
            </li>
            <li>
              If hands and feet are burned, separate the fingers and toes (you
              can use dry sterile nonadhesive bandages).
            </li>
            <li>
              Remove clothing from burned areas (don’t try to remove clothing
              that’s stuck to the skin).
            </li>
          </ul>
          <li>
            Minor Burn (Surface redness, less than 7cm in diameter, skin
            blister):
          </li>
          <ul>
            <li>
              Hold the burned area under cool, running water for at least 1
              minute.
            </li>
            <li>
              Remove tight items, such as rings, from the burned area before
              swelling starts.
            </li>
            <li>
              Avoid breaking blisters. If a blister breaks, clean the area and
              gently apply an antibiotic ointment.
            </li>
            <li>
              After the burned area has been cooled, apply a lotion (aloe vera)
              to provide relief and to keep the area from drying out.
            </li>
            <li>
              Loosely bandage the burn, and take an over-the-counter pain
              reliever if necessary.
            </li>
          </ul>
          <li>
            <a href="./videos#Burns">Click here to watch a video.</a>
          </li>
          <img
            class="img4"
            src="./resources/burns-degree-first-aid-for-burn-wound-fire-damage-to-skin-classification-hand-blisters-vector-infographic-treatment-for-thermal-wound-2D86CYK.jpg"
            alt=""
          />
        </ul>
      </div>
      <div id="Bleeding">
        <h3>Bleeding</h3>
        <ul>
          <li>
            If the bleeding is major call emergency services and follow the
            below steps.
          </li>
          <li>
            Remove any clothing or debris on the wound. Don't remove large or
            deeply embedded objects.
          </li>
          <li>
            Stop the bleeding. Place a sterile bandage or clean cloth on the
            wound. Press the bandage firmly with your palm to control bleeding.
            Apply constant pressure until the bleeding stops. Maintain pressure
            by binding the wound with a thick bandage or a piece of clean cloth.
            Don't put direct pressure on an eye injury or embedded object.
          </li>
          <li>
            If the bleeding seeps through the gauze or other cloth on the wound,
            add another bandage on top of it. And keep pressing firmly on the
            area.
          </li>
          <li>
            If the bleeding seeps through the second bandage, apply a
            <a href="./howTo#Tourniquet">tourniquet</a>
            if you're trained in how to do so. Write the military timing when
            you place the tourniquet.
          </li>
          <li>Immobilize the injured body part as much as possible.</li>
          <li>
            <a href="./videos#Bleeding">Click here to watch a video.</a>
          </li>
        </ul>
      </div>
      <div id="Choking">
        <h3>Choking</h3>
        <ul>
          <li>If the person is able to cough encourage them to cough.</li>
          <li>
            If the person is unable to cough begin the following five and five
            technique.
          </li>
          <li>
            Give 5 back claps. Stand to the side and just behind a choking
            adult. For a child, kneel down behind. Place one arm across the
            person's chest for support. Bend the person over at the waist so
            that the upper body is parallel with the ground. Deliver five
            separate back claps between the person's shoulder blades with the
            heel of your hand.
          </li>
          <li>
            Give five abdominal thrusts (<a href="./howTo#HeimlichManeuver"
              >Heimlich maneuver</a
            >).
          </li>
          <li>
            Alternate between 5 back claps and 5 thrusts until the blockage is
            dislodged.
          </li>
          <li>
            <a href="./videos#Choking">Click here to watch a video.</a>
          </li>
          <img
            class="img5"
            src="./resources/GettyImages-136811278-664fedac86fc431d84ab156fdfeda4e4.webp"
            alt=""
          />
        </ul>
      </div>
      <div id="Stings">
        <h3>Stings</h3>
        <ul>
          <li>
            Get the stinger out using a credit card with a sliding
            movement.(Don't use tweezers as you migh inject more venom from the
            stinger).
          </li>
          <li>Wash the area with soap and water.</li>
          <li>
            Use a cold pack to reduce swelling at the site, but don't apply ice
            directly to the skin.
          </li>
          <li>Use any pain relief medication for pain.</li>
          <li>If the person has allergies go the nearest health center.</li>
          <li>
            <a href="./videos#Stings">Click here to watch a video.</a>
          </li>
        </ul>
      </div>
      <div id="Bones">
        <h3>Broken/Fractured Bone or Sprains</h3>
        <ul>
          <li>Call emergency services.</li>
          <li>Don't try to straighten it.</li>
          <li>Immobilize the limb.</li>
          <li>
            Put a cold pack on the injury, with a barrier between it and the
            skin to prevent tissue damage. If ice is all that's available, put
            it in a plastic bag and wrap it in a shirt or towel.
          </li>
          <li>Elevate the injured part if you can do so safely.</li>
          <li>Use any pain relief medication for pain.</li>
          <li>
            <a href="./videos#Bones">Click here to watch a video.</a>
          </li>
        </ul>
      </div>
    </div>
    <script src="./scripts/howTo.js"></script>
  </body>
</html>
