<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/videos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <title>First Aid</title>
  </head>

  <body class="body">
    <div class="div1">
      <h1 class="main-title">
        <a href="/"> First Aid - Videos</a>
      </h1>
      <h2>
        <a href="/howTo">How To</a>
      </h2>
      <h2><a href="/bloodDonation">Blood Donation</a></h2>
    </div>

    <div class="div2">
      <h2>Hotlines in Lebanon</h2>
      <ul>
        <li>Lebanese Red Cross: <b>140</b></li>
        <li>Civil Defense: <b>125</b></li>
        <li>Police: <b>112</b></li>
        <li>Fire Department: <b>175</b></li>
      </ul>
      <div id="covid">
        <h3>Covid in Asia</h3>
      </div>
    </div>

    <div class="div3">
      <div><a href="#CPR"> CPR</a></div>
      <div><a href="#RB"> Rescue Breathing</a></div>
      <div><a href="#Burns"> Burns</a></div>
      <div><a href="#Bleeding"> Bleeding - Tourniquet</a></div>
      <div><a href="#Choking"> Choking - Heimlich Maneuver</a></div>
      <div><a href="#Stings"> Stings</a></div>
      <div><a href="#Bones"> Broken/Fractured Bone or Sprains</a></div>
      <div><a href="#CheckPulse">Check Pulse</a></div>
      <div><a href="#CheckBreathing">Check Breathing</a></div>
      <div><a href="#PLS">PLS</a></div>
      <div><a href="#MaintainAirways">Maintain Airways</a></div>
      <div><a href="#AED">AED</a></div>
    </div>

    <div class="div4">
      <div id="CPR">
        <h3>CPR</h3>
        <div class="container">
          <iframe
            class="responsive-iframe"
            src="https://www.youtube.com/embed/y52c9ebL-Wo"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div id="RB">
        <h3>Rescue Breathing</h3>
        <div class="container">
          <iframe
            class="responsive-iframe"
            src="https://www.youtube.com/embed/UvenXEHUfEQ"
            frameborder="0"
          ></iframe>
        </div>
      </div>

      <div id="Burns">
        <h3>Burns</h3>
        <div class="container">
          <iframe
            class="responsive-iframe"
            src="https://www.youtube.com/embed/XGnLkUty69g"
            frameborder="0"
          ></iframe>
        </div>
      </div>

      <div id="Bleeding">
        <h3>Bleeding - Tourniquet</h3>
        <div class="container">
          <iframe
            class="responsive-iframe"
            src="https://www.youtube.com/embed/BVij7f6Brgo"
            frameborder="0"
          ></iframe>
        </div>
      </div>

      <div id="Choking">
        <h3>Choking - Heimlich Maneuver</h3>
        <div class="container">
          <iframe
            class="responsive-iframe"
            src="https://www.youtube.com/embed/SwJlZnu05Cw"
            frameborder="0"
          ></iframe>
        </div>
      </div>

      <div id="Stings">
        <h3>Stings</h3>
        <div class="container">
          <iframe
            class="responsive-iframe"
            src="https://www.youtube.com/embed/eL0EocIaz7Q"
            frameborder="0"
          ></iframe>
        </div>
      </div>

      <div id="Bones">
        <h3>Broken/Fractured Bone or Sprains</h3>
        <div class="container">
          <iframe
            class="responsive-iframe"
            src="https://www.youtube.com/embed/BAUiP1P3GE0"
            frameborder="0"
          ></iframe>
        </div>
      </div>

      <div id="CheckPulse">
        <h3>Check Pulse</h3>
        <div class="container">
          <iframe
            class="responsive-iframe"
            src="https://www.youtube.com/embed/AHHr8qNU9QY"
            frameborder="0"
          ></iframe>
        </div>
      </div>

      <div id="CheckBreathing">
        <h3>Check Breathing</h3>
        <div class="container">
          <iframe
            class="responsive-iframe"
            src="https://www.youtube.com/embed/ut1IOwUeS3Q"
            frameborder="0"
          ></iframe>
        </div>
      </div>

      <div id="PLS">
        <h3>PLS</h3>
        <div class="container">
          <iframe
            class="responsive-iframe"
            src="https://www.youtube.com/embed/9MyAGIaJV14"
            frameborder="0"
          ></iframe>
        </div>
      </div>

      <div id="MaintainAirways">
        <h3>Maintain Airways</h3>
        <div class="container">
          <iframe
            class="responsive-iframe"
            src="https://players.brightcove.net/3850378299001/SyAEZ6ptl_default/index.html?videoId=5279917213001"
            allowfullscreen
            frameborder="0"
          ></iframe>
        </div>
      </div>

      <div id="AED">
        <h3>AED</h3>
        <div class="container">
          <iframe
            class="responsive-iframe"
            src="https://www.youtube.com/embed/DxJKp5g3i5U"
            frameborder="0"
          ></iframe>
        </div>
      </div>
    </div>
    <script src="./scripts/howTo.js"></script>
  </body>
</html>
