.body {
  margin: 0px;
  padding: 0px;
  background-color: beige;
}
.main-title a:link,
.main-title a:visited {
  text-decoration: none;
  color: white;
}
.div1 a:hover {
  color: white;
}
.div1 {
  background-color: rgb(255, 0, 0);
  color: white;
  text-align: center;
  height: auto;
  width: 100%;
  margin: 0px;
  position: relative;
  top: 0px;
  padding-top: 10px;
}
.main-title {
  font-family: "Alfa Slab One", cursive;
  vertical-align: middle;
  margin: 0px;
}
.div1 h2 {
  margin: 0px;
  margin-top: 2%;
  font-family: "Permanent Marker", cursive;
}
.div2 {
  background-color: rgb(131, 197, 199);
  color: black;
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0px;
  height: auto;
}
.div2 > h2 {
  margin: 0px;
  padding-top: 10px;
}
.div2 ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
}
.div2 ul li {
  padding: 15px;
  font-size: larger;
}
.div3 {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(233, 94, 89);
  position: relative;
  width: 100%;
  justify-content: space-around;
}
.div3 > div {
  font-family: "Permanent Marker", cursive;
  background-color: whitesmoke;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
a:link,
a:visited {
  text-decoration: underline;
  color: black;
}
a:hover {
  color: red;
  text-decoration: underline;
}
.div4 {
  text-align: left;
  position: relative;
  width: 100%;
  justify-content: space-evenly;
}

.div4 > div {
  background-color: rgb(233, 94, 89);

  width: 85%;
  position: relative;
  margin: 5%;

  padding: 2%;

  display: block;
  justify-content: start;
}
h3 {
  font-family: "Permanent Marker", cursive;
  text-decoration: underline;
  font-size: x-large;
}

li {
  padding: 5px;
  font-size: large;
}
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .div2 ul {
    display: inline;
  }
  .div2 ul li {
    padding: 10px;
    font-size: medium;
  }
  .div3 {
    display: inline-flex;
    width: 100%;
  }
  .div4 {
    left: auto;
    width: 100%;
  }
  .div4 > div {
    display: block;
    padding: 5px;
  }

  h3 {
    font-size: large;
  }
}

@media screen and (min-width: 992px) {
  .div3 div {
    font-size: large;
  }

  .div4 h3 {
    font-size: x-large;
  }
}
@media screen and (min-width: 1200px) {
  .div1 {
    font-size: 30px;
    height: auto;
  }

  .div2 h2 {
    font-size: 30px;
  }
  .div2 ul {
    font-size: 20px;
  }

  .div3 div {
    font-size: x-large;
  }
  .div4 h3 {
    font-size: xx-large;
  }
}

@media screen and (min-width: 1700px) {
  .div1 {
    font-size: 50px;
    height: auto;
  }

  .div2 h2 {
    font-size: 40px;
  }
  .div2 ul {
    font-size: 30px;
  }

  .div3 div {
    font-size: 40px;
  }
  .div4 h3 {
    font-size: 40px;
  }
}
